#mensaje{
    visibility:hidden
}
    
.puntero:hover{
    cursor: pointer;
}
    
.textoresaltado{
    background-color: gold;
    font-family: Arial, Helvetica, sans-serif;                                                   
}
    
.colortexto{
    color: #7F0B13, 127,11,33
}

h1{
    margin:
}
