#mensaje{
    visibility:hidden
}
    
.puntero:hover{
    cursor: pointer;
}
    
.textoresaltado{
    background-color: gold;
    font-family: Arial, Helvetica, sans-serif;                                                   
}
    
.colortexto{
    color: darkblue;
}
